@import '../../scss/global.scss';
.wrapper {
    position: relative;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    flex: 1;
    text-decoration: none;
    color: var(--text-color);
    &:hover {
        border-color: rgba(0, 0, 0, 0.1);
        box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.5);
    }
    &:hover .actions {
        display: block;
    }
}
.wrapper.l_5 {
    flex: 0 0 20%;
    max-width: 20%;
}
.wrapper.l_3 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.content {
    color: var(--text-color);
}
.image {
    width: 100%;
}
.discount {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 4px 6px;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    background-color: var(--primary-color);
    border-radius: 999px;
}
.noti_specification {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.noti-1 {
    width: 50%;
    text-align: center;
    padding: 2px;
    margin: 4px 0 8px 0;
    color: rgb(236, 48, 48);
    border: 1px solid rgb(236, 48, 48);
    border-radius: 2px;
}
.specifications {
    width: 30%;

    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    margin: 4px 0 8px 0;
    border: 1px solid rgb(61, 57, 57);
}
.ram {
    padding-right: 2px;
    border-right: 1px solid rgb(61, 57, 57);
}
.name {
    font-size: 2rem;
    font-weight: 500;
}
.price {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // align-items: center;
    margin: 6px 0;
}
.price-current {
    font-size: 1.7rem;
    font-weight: 500;

    color: red;
}
.price-old {
    font-size: 1.2rem;
    // margin-left: 5px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.4);
}
.price-saved {
    font-size: 1rem;
    padding-bottom: 5px;
}
.rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.number-rating {
    position: relative;
    top: 2px;
    font-size: 1.5rem;
    margin-left: 5px;
}
.noti-2 {
    height: 40px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
    padding: 4px 4px 4px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 5px rgb(41, 41, 41);
    border-left: 5px solid var(--primary-color);
}
.actions {
    display: none;
    margin-top: 20px;
}
.actions-content {
    display: flex;
    justify-content: space-between;
}
.btn-buy-now {
    width: 120px;
    line-height: 1.5;
    font-size: 1.6rem;
}
.btn-compare {
    font-size: 1.6rem;
}
.overlay-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.overlay-item-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-item-text {
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 3rem;
    transform: rotate(-45deg);
    color: red;
    border: 1px solid red;
}
@include MediaQuery($min_tablet, $max_tablet) {
    .wrapper {
        &.m_4 {
            flex: 0 0 25%;
            max-width: 25%;
        }
        &.m_2 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}
@include MediaQuery($min_mobile, $max_mobile) {
    .wrapper {
        &.s_2 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        &:hover .actions {
            display: none;
        }
    }
    .name {
        font-size: 1.6rem;
    }
}
