.wrapper {
    display: flex;
    justify-content: center;
}
.content {
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 8px;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 1.8rem;
}

.order-list {
    list-style: none;
}
