.wrapper {
    margin-top: 40px;
}
.config-list {
    list-style: none;
    margin-bottom: 20px;
}

.name {
    font-size: 2rem;
    margin: 10px 0;
    font-weight: 600;
}
.more {
    display: flex;
    justify-content: center;
}
