@import '../../../../scss/global.scss';
:root {
    --width-left: 160px;
}
.wrapper {
    padding: 10px;
}
.wrapper:nth-child(odd) {
    background-color: #eee;
}
.wrapper:nth-child(even) {
    background-color: #fff;
}
.left,
.right {
    display: inline-block;
    font-size: 1.6rem;
}
.left {
    width: var(--width-left);
}
.right {
    width: calc(100% - var(--width-left));
}
@include MediaQuery($min_tablet, $max_tablet) {
    :root {
        --width-left: 110px;
    }
    .left,
    .right {
        font-size: 1.5rem;
    }
}
