@import '../../../../scss/global.scss';
.wrapper {
    padding: 5px 40px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.title {
    font-size: 1.8rem;
    margin: 10px 0 20px;
    font-weight: 600;
}
.input-field {
    padding: 6px;
    font-size: 1.6rem;
    outline-color: var(--primary-color);
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.4);
    margin-right: 5px;
}

.input-name-number {
    display: flex;
}
.input-name,
.input-number {
    width: 90%;
    margin-right: 5px;
}
.input-address {
    margin-top: 25px;
}
.input-other {
    margin-top: 15px;
}
.notification {
    display: block;
    margin-top: 5px;
    font-size: 1.5rem;
    color: red;
}
.action {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
@include MediaQuery($min_tablet, $max_tablet) {
    .input-address {
        margin: 30px 0 0;
    }
}
@include MediaQuery($min_mobile, $max_mobile) {
    .wrapper {
        padding: 10px;
    }
    .input-name-number {
        flex-direction: column;
    }
    .input-number {
        margin-top: 15px;
    }
    .input-address {
        margin: 25px 0 0;
    }
    // .notification {
    //     margin-top: 0;
    // }
}
