@import '../../scss/global.scss';
.header {
    text-align: center;
    margin-top: 30px;
    font-size: 3rem;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
@include MediaQuery($min_mobile, $max_mobile) {
}
