@import '../../../../scss/global.scss';
.wrapper {
    width: 40%;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.star-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
}
.number-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
// .number-assess {
//     margin-left: 20px;
// }
.percents {
    margin: 10px 0 0 10px;
}
@include MediaQuery($min_tablet, $max_tablet) {
    .wrapper {
        width: 100%;
        border-color: transparent;
    }
    .number-wrapper {
        width: 30%;
    }
}
@include MediaQuery($min_mobile, $max_mobile) {
    .wrapper {
        width: 100%;
        border-color: transparent;
    }
}
