.wrapper {
    width: 40%;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.star-number {
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.number {
    margin-right: 10px;
}
.number-assess {
    margin-left: 20px;
}
.percents {
    margin: 10px 0 0 10px;
}
