@import '../../scss/global.scss';
.wrapper {
    display: flex;
    justify-content: center;
}
.content {
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 8px;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 1.8rem;
}
.status {
    padding: 20px 0;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.yellow {
    background-color: rgb(236, 233, 35);
}
.green {
    background-color: rgb(14, 174, 12);
}
.blue {
    background-color: rgb(13, 16, 186);
}
.product-item {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    padding-bottom: 10px;

    // border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.content-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
@include MediaQuery($min_mobile, $max_mobile) {
    .content {
        width: 100%;
    }
}
