.wrapper {
    margin-top: 10px;
}
.content {
    display: flex;
}
.filters {
    width: 25%;
    margin-right: 10px;
}

.products {
    width: 75%;
}
.products-content {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
