@import '../../scss/global.scss';
.wrapper {
    margin-top: 10px;
}
.content {
    display: flex;
}
.filters {
    width: 25%;
    margin-right: 10px;
}

.products {
    width: 75%;
}
.products-content {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
@include MediaQuery($min_tablet, $max_tablet) {
    .filters {
        width: 35%;
    }
    .products {
        width: 65%;
    }
}
@include MediaQuery($min_mobile, $max_mobile) {
    .filters {
        display: none;
    }
    .products {
        width: 100%;
    }
}
