.content {
    display: flex;
    // min-height: 1000px;
}
.filters {
    width: 25%;
    margin-right: 10px;
}

.products {
    width: 75%;
    // display: flex;
}
.products-content {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
