.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.label {
    font-size: 2rem;
    white-space: nowrap;
    margin-right: 10px;
}
.select {
    padding: 5px;
}
.option {
    font-size: 1.6rem;
}
