.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    padding: 8px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }
}
.title {
    max-width: 80%;
    font-size: 1.8rem;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}
.btn {
    color: rgb(80, 80, 231);
    font-size: 1.6rem;
    &:hover {
        text-decoration: underline;
    }
}
