.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1080px;
}
.navbar-item {
    position: relative;
    padding: 10px 80px 10px 10px;
    font-size: 1.8rem;
    // border-right: 1px solid rgba(0, 0, 0, 0.05);
    color: white;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.4);
        top: 9px;
        left: -30px;
    }
}
.navbar-item:first-child::after {
    display: none;
}
.icon {
    margin-right: 5px;
}
.title {
}
