@import '../../../../scss/global.scss';
.wrapper {
    display: flex;
    justify-content: center;
}
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
}
.navbar-item {
    position: relative;
    padding: 10px 80px 10px 10px;
    font-size: 1.8rem;
    // border-right: 1px solid rgba(0, 0, 0, 0.05);
    color: white;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.4);
        top: 9px;
        left: -30px;
    }
}
.navbar-item:first-child::after {
    display: none;
}
.icon {
    margin-right: 5px;
}

.title {
}
@include MediaQuery($min_tablet, $max_tablet) {
    .wrapper {
        width: 100%;
        padding: 0 30px;
    }
    .navbar-item {
        padding: 10px 0;
    }
}
@include MediaQuery($min_mobile, $max_mobile) {
    .wrapper {
        width: 100%;
        padding: 0 10px;
    }
    .navbar-item {
        font-size: 1.5rem;
        padding: 10px 0;
        &::after {
            display: none;
        }
    }
    .icon {
        margin-right: 1px;
    }
}
