@import '../../scss/global.scss';
.wrapper {
    display: flex;
    margin-top: 5px;
}
.filters {
    width: 25%;
    margin-right: 10px;
}
.content {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
@include MediaQuery($min_tablet, $max_tablet) {
    .filters {
        width: 35%;
    }
    .content {
        width: 65%;
    }
}
@include MediaQuery($min_mobile, $max_mobile) {
    .filters {
        display: none;
    }
    .content {
        width: 100%;
    }
}
