@import '../../../../../../scss/global.scss';
.wrapper {
    padding: 4px;
    width: 16.6667%;
}
.img {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px;
    &.active {
        border: 2px solid var(--primary-color);
    }
}
@include MediaQuery($min_mobile, $max_mobile) {
    .wrapper {
        padding: 1px;
    }
    .img {
        padding: 3px;
    }
}
