$min_mobile: 0px;
$max_mobile: 768px;
$min_tablet: 768px;
$max_tablet: 1024px;
$min_pc: 1025px;
$max_pc: 1999px;
@mixin MediaQuery($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}
