@import '../../scss/global.scss';
.wrapper {
    width: 33.3334%;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    &:hover {
        border-color: rgba(0, 0, 0, 0.2);
        box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.5);
    }
    &:hover .actions {
        display: block;
    }
    &:hover .img {
        scale: 1.1;
    }
    &.l_5 {
        width: 20%;
    }
}
.img {
    width: 100%;
    padding: 20px;
}
.content {
    margin-bottom: 20px;
}
.name {
    font-size: 2rem;
    font-weight: 500;
}
.price_cur-discount {
    display: flex;
    font-size: 1.5rem;
    margin: 8px 0;
}
.price-cur {
    text-decoration: line-through;
    font-style: italic;
    opacity: 0.7;
    margin-right: 10px;
}
.price-real {
    font-size: 1.7rem;
}
.rating {
    display: flex;
    align-items: center;
}
.number-rating {
    position: relative;
    top: 2px;
    font-size: 1.5rem;
    margin-left: 5px;
}
.actions {
    display: none;
}
.actions-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.btn-buy-now {
    width: 120px;
    line-height: 1.5;
    font-size: 1.6rem;
}
.btn-compare {
    line-height: 1.5;
    font-size: 1.6rem;
}

@include MediaQuery($min_tablet, $max_tablet) {
    .wrapper {
        &.m_2 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        &.m_4 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}

@include MediaQuery($min_mobile, $max_mobile) {
    .wrapper {
        &.s_2 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        &:hover .actions {
            display: none;
        }
    }
    .name {
        font-size: 1.6rem;
    }
}
