@import '../../scss/global.scss';

.wrapper {
    // position: relative;
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.menu-mobile {
    font-size: 2.6rem;
    margin-left: 10px;
    display: none;
}
.sort-list {
    list-style: none;
    width: 100%;
    font-size: 2rem;
    box-shadow: 1px 1px rgb(231, 229, 229);
    background-color: white;
}

.content {
    font-size: 2.2rem;
    padding: 11px;
    cursor: pointer;
}
.title {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px #ccc;
}
.type-sort {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-right: 10px;
}
@include MediaQuery($min_mobile, $max_mobile) {
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .content {
        margin-right: 0;
        font-size: 1.6rem;
    }
    .menu-mobile {
        display: block;
    }
}
